* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********** debug ***********/
.debug {
    /* background-color: rgba(255,0,0,0.3); */
    min-height: 80px;
    border: 1px solid black;
}


/*********** utils ***********/

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-gray {
    background-color: lightgray;
}

.d-flex {
    display: flex;
}

.button {
    min-width: 70px;
    min-height: 35px;
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 40px;
}

/*********** header ***********/

header {
    width: 100%;
    font-family: sans-serif;
}

#nav-bar {
    background-color: #255EE9;
    padding-top: 40px;
    max-height: 40px;
}


#nav-bar .row {
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-bar .row ul {
    list-style: none;
}

#nav-bar .row ul li a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

header .column .button {
    text-decoration: none;
}

header .column .button:hover {
    text-decoration: underline;
}

#jumbotron {
    height: 600px;
    padding-top: 100px;
    background-image: url(../assets/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbotron div {
    text-align: center;
    padding: 60px 0;
}


/*********** main ***********/

main section {
    padding: 50px;
}

main div.row {
    display: flex;
}

div.row {
    width: 100%;
    min-height: 300px;                               /*da debug */
}

div.box-img {
    width: 60%;
    border: 1px solid black;                         /*da debug */
    background-color: blue;
}

div.box-text {
    width: 40%;
    border: 1px solid black;                    /*da debug */
    background-color: pink;
}

#cta div {
    background-color: green;
    height: 1000px;
}

/*********** footer ***********/

footer {
    background-color: black;
}

footer section#cards div {
    height: 400px;                        /*debug*/
    max-width: 1000px;
    justify-content: space-evenly;
}

#cards {
    padding-top: 20px;
    padding-bottom: 40px;
}

.col-big {
    background-color: red;
    border: 1px solid black;
    border-style: dashed;
    width: 60%;
}

.multi-col {
    background-color: #20B3AA;
    border: 1px solid white;
    border-style: dashed;
    width: 40%;
}

#end-page {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    height: 100px;                          /*debug*/
}

section#end-page div {
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 50px;                            /*debug*/
    background-color: #7FFFD4;                        
}